/* หน้าหลักบันทึกข้อมูลรายวิชาเข้าสู่ระบบ */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* บันทึกวิชาเข้าสู่ระบบ */

position: absolute;
width: 232px;
height: 35px;
left: 539px;
top: 91px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
text-decoration-line: underline;

color: #000000;



/* Line 1 */

position: absolute;
width: 850px;
height: 0px;
left: 533px;
top: 154px;

border: 1px solid #ADA2A2;


/* Rectangle 23 */

position: absolute;
width: 176px;
height: 61px;
left: 1210px;
top: 907px;

background: rgba(20, 131, 111, 0.87);


/* ย้อนกลับ */

position: absolute;
width: 89px;
height: 29px;
left: 1263px;
top: 923px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;



/* Rectangle 39 */

position: absolute;
width: 931px;
height: 68px;
left: 509px;
top: 0px;

background: #03A96B;


/* image 10 */

position: absolute;
width: 34px;
height: 33px;
left: 1383px;
top: 17px;

background: url(image.png);
border-radius: 180px;


/* Line 2 */

position: absolute;
width: 66px;
height: 0px;
left: 1365px;
top: 1px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* โครงการหลักสูตรวิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์ ภาคพิเศษ โทร.7328 */

position: absolute;
width: 822px;
height: 27px;
left: 518px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 27px;
/* identical to box height */

color: #FFFCFC;



/* บันทึกข้อมูลรายวิชาเข้าสู่ระบบ */

position: absolute;
width: 288px;
height: 29px;
left: 615px;
top: 195px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;



/* Ellipse 1 */

position: absolute;
width: 59px;
height: 55px;
left: 548px;
top: 182px;

background: #19D9CD;


/* Ellipse 2 */

position: absolute;
width: 59px;
height: 55px;
left: 548px;
top: 269px;

background: #19D9CD;


/* Ellipse 3 */

position: absolute;
width: 59px;
height: 55px;
left: 548px;
top: 356px;

background: #19D9CD;


/* Ellipse 4 */

position: absolute;
width: 59px;
height: 55px;
left: 548px;
top: 443px;

background: #19D9CD;


/* ตรวจสอบรายวิชาที่บันทึกเข้าสู่ระบบ */

position: absolute;
width: 343px;
height: 29px;
left: 615px;
top: 282px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;



/* รายวิชาที่เข้าสู่ระบบ */

position: absolute;
width: 185px;
height: 29px;
left: 615px;
top: 369px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;



/* ตารางประมาณการค่า */

position: absolute;
width: 209px;
height: 29px;
left: 615px;
top: 456px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;



/* Rectangle 32 */

position: absolute;
width: 508px;
height: 1027px;
left: 1px;
top: 0px;

background: #2F3337;


/* image 20 */

position: absolute;
width: 50.36px;
height: 47px;
left: 9px;
top: 753px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* image 17 */

position: absolute;
width: 49.69px;
height: 47px;
left: 9px;
top: 590px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* image 16 */

position: absolute;
width: 49.69px;
height: 47px;
left: 9px;
top: 429px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* Rectangle 62 */

position: absolute;
width: 508px;
height: 86px;
left: 1px;
top: 255px;

background: #03A96B;


/* สร้างบันทึกข้อความขอเปิดรายวิชา */

position: absolute;
width: 332px;
height: 29px;
left: 66px;
top: 363px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* เจ้าหน้าที่การเงินและบัญชี */

position: absolute;
width: 247px;
height: 29px;
left: 132px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* ยินดีต้อนรับ คุณ จักรพรรดิ์ */

position: absolute;
width: 346px;
height: 29px;
left: 132px;
top: 68px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* image 3 */

position: absolute;
width: 87px;
height: 83px;
left: 22px;
top: 22px;

background: url(image.png);
border-radius: 93.5px;


/* บันทึกวิชาเข้าสู่ระบบ */

position: absolute;
width: 193px;
height: 29px;
left: 66px;
top: 288px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* ข้อมูลส่วนตัว */

position: absolute;
width: 128px;
height: 29px;
left: 66px;
top: 214px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* สร้างข้อความขออนุมัติหลักการเบิกค่าสอน */

position: absolute;
width: 430px;
height: 42px;
left: 57px;
top: 439px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #F2EDED;



/* สร้างบันทึกข้อความขอเบิกค่าตอบแทน */

position: absolute;
width: 373px;
height: 29px;
left: 65px;
top: 599px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #F2EDED;



/* กรอกบันทึกข้อความขอสอนชดเชย */

position: absolute;
width: 342px;
height: 58px;
left: 66px;
top: 515px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #F2EDED;



/* Line 3 */

position: absolute;
width: 507px;
height: 0px;
left: 2px;
top: 131px;

border: 1px solid rgba(210, 188, 188, 0.24);
transform: rotate(0.23deg);


/* image 11 */

position: absolute;
width: 67px;
height: 68px;
left: 1px;
top: 194px;

background: url(image.png);
opacity: 0.8;
border-radius: 193.5px;


/* image 13 */

position: absolute;
width: 60px;
height: 57px;
left: 421px;
top: 34px;

background: url(image.png);
border-radius: 111.5px;


/* พิมพ์ข้อมูลเอกสารหลักฐานการเบิกจ่าย */

position: absolute;
width: 384px;
height: 58px;
left: 65px;
top: 690px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFFFFF;



/* รายงานค่าตอบแทนการสอนประจำเดือน */

position: absolute;
width: 391px;
height: 58px;
left: 65px;
top: 764px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;
text-align: center;

color: #FFFFFF;



/* image 14 */

position: absolute;
width: 46px;
height: 47px;
left: 11px;
top: 279px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* image 15 */

position: absolute;
width: 49.69px;
height: 47px;
left: 9px;
top: 354px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* image 18 */

position: absolute;
width: 50.36px;
height: 47px;
left: 11px;
top: 504px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;


/* image 19 */

position: absolute;
width: 46.23px;
height: 47px;
left: 11px;
top: 683px;

background: url(image.png);
opacity: 0.8;
border-radius: 50px;
